body {
  font-family: "Montserrat", serif;
  background: linear-gradient(to bottom, rgb(20, 19, 21), #0a798a) no-repeat
    fixed;
}
.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/castle-ruins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 100px;
}
header h1 {
  font-size: 90px;
  font-weight: 700;
  margin: 30px 0;
  line-height: 1;
}
header h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}
header a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
  margin: 5px;
  font-weight: 900;
  font-size: 22px;
}
footer {
  font-size: 12px;
  margin-top: 10px;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: rgb(20, 19, 21);
}

@media (max-width: 900px) {
  header {
    padding: 100px 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/castle-ruins.jpg");
    background-image: fit-content;
  }
  header h1 {
    font-size: 45px;
    margin: 15px 0;
  }
  header h2 {
    font-size: 24px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 8px 16px;
    font-size: 11px;
  }
  footer {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  header {
    padding: 100px 50px;
  }
  header h1 {
    font-size: 45px;
    margin: 15px 0;
  }
  header h2 {
    font-size: 24px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 8px 16px;
    font-size: 11px;
  }
  footer {
    font-size: 12px;
  }
}
